{% extends 'base2.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
  <div class="profile-content ">

      <div id="myTabContent" class="tab-content">
           <div class="tab-pane fade active in profile-nominations" id="user">
                <br>
                <div class="panel panel-default">
                    <div class="panel-heading">Student Search</div>
                    <div class="panel-body">
                        {% if not post_form %}
                            <form action="" method="post">
                                <div class="col-lg-12">
                                    {% csrf_token %}
                                    {{club_form|bootstrap}}
                                </div>

                                <div class="col-lg-12 text-center">
                                    <input type="submit" value="Submit" class="btn btn-success nomi-filter" />
                                </div>

                            </form>
                        {% else %}
                            <form action="" method="post">
                                <div class="row-fluid">
                                    <div class="col-lg-6">
                                        {% csrf_token %}
                                        {{club_form|bootstrap}}
                                    </div>

                                    <div class="col-lg-6">
                                        {% csrf_token %}
                                        {{post_form|bootstrap}}
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-lg-12 text-center">
                                    <input type="submit" value="Submit" class="btn btn-success nomi-filter" />
                                </div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>


                <div>
                    {% for post in query_posts %}
                        {% for students in post.post_holders.all %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="col-lg-2">
                                <img style="border-radius: 10%" src="{% static 'nomi/img/logo.jpg' %}" alt="Pic here"
                                     width="100px" height="100px">
                            </div>

                            <div class="col-lg-10">
                                <span style="font-weight: bold;">Name: </span>{{ students.userprofile.name }} <br>
                                <span style="font-weight: bold;">Post: </span>{{ post }}
                            </div>
                        </div>
                    </div>
                </div>
                            {% endfor %}
                    {% endfor %}
                </div>
         </div>
    </div>
</div>

{% endblock %}