{% extends 'base2.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
  <div class="profile-content ">

    <div id="myTabContent" class="tab-content">
         <div class="tab-pane fade active in profile-nominations" id="user">
                <br>
                <div class="panel panel-default">
                  <div class="panel-heading">Student Search</div>
                  <div class="panel-body">
                    <form action="" method="get">
                        <label class="col-lg-1 control-label">Club</label>
                              <!-- <div class="col-lg-3">
                                    {{filter.form|bootstrap}}
                                </div>-->
                            <div class="col-lg-3">
                                {{filter.form.club}}
                            </div>

                        <label class="col-lg-1 control-label">Post</label>
                            <div class="col-lg-3 ">
                                {{filter.form.post}}
                            </div>

                        <input type="submit" value="Submit" class="btn btn-success nomi-filter" />
                    </form>
                  </div>
                </div>


                <div>
                    {% for student in filter.qs %}

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="col-lg-2">
                                <img style="border-radius: 10%" src="{% static 'nomi/img/logo.jpg' %}" alt="Pic here"
                                     width="100px" height="100px">
                            </div>

                            <div class="col-lg-10">
                                <span style="font-weight: bold;">Name: </span>{{ student.name }}
                            </div>
                        </div>
                    </div>
                </div>
                    {% endfor %}
                </div>
         </div>
    </div>
</div>

{% endblock %}