<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load bootstrap %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'nomi/css/main.css' %}" type="text/css">

    <title>{% block title %} Gymkhana Nominations {% endblock %}</title>
</head>
<body>

{% block navigation %}
<nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#">
                <div>
                    <img src="{% static 'nomi/img/gym.jpg' %}" width="50" height="50">
                </div>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}" id="brand">Gymkhana Nominations</a></li>
                <li><a href="{% url 'profile' %}" id="navbar-links">Profile</a></li>
                {% block posts%}
                    {% if my_posts %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" id="navbar-links" data-toggle="dropdown" role="button"
                               aria-expanded="false">My Posts <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">

                                    {% for post in my_posts %}
                                            <li><a href="{% url 'post_view' post.pk %}" >{{post.post_name}}</a></li>
                                    {% endfor %}

                            </ul>
                        </li>
                    {% endif %}

                    {% if interviews %}
                        <li><a href="{% url 'interviews' %}" id="navbar-links">Interviews</a></li>
                    {% endif %}

                    {% if senate %}
                        <li><a href="{% url 'senate_view' %}" id="navbar-links">Ratifications</a></li>
                        <li><a href="{% url 'all_nominations' %}" id="navbar-links">All Nominations</a></li>
                    {% endif %}
                {% endblock %}
                <li><a href="{% url 'info:info' %}" id="navbar-links">Post Holders</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="navbar-links"><a href="{% url 'logout' %}?next={% url 'login' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

<div class="container-fluid">
    <div  class="row profile">
        <div class="col-lg-3 col-md-3">
            {% block profile %}
            <div id="profile" class="profile-sidebar" style="position:fixed">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="{{ my_profile.image_url }}" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{my_profile.name}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{my_profile.programme}} <br> {{my_profile.department}}
                    </div>
                </div>
                <div class="profile-usermenu">
                    <table class="table table-striped table-hover ">

                        <tbody>
                        <tr>
                            <td id="topic">Batch</td>
                            <td>{{my_profile.year}} </td>
                        </tr>
                        <tr>
                            <td id="topic">Roll No.</td>
                            <td>{{my_profile.roll_no}} </td>
                        </tr>
                        <tr>
                            <td id="topic">Address</td>
                            <td>{{my_profile.room_no}} , Hall-{{my_profile.hall}}</td>
                        </tr>
                        <tr>
                            <td id="topic">Contact No.</td>
                            <td>{{ my_profile.contact }}</td>
                        </tr>
                        <tr>
                            <td id="topic">Email ID</td>
                            <td>{{my_profile.user}}@iitk.ac.in</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END MENU -->
            </div>
            {% endblock %}
        </div>
        <div class="col-lg-9 col-md-9">
            {% block content %}
            <div class="profile-content ">

                <div class="panel panel-default">
                    <div style="padding-bottom: inherit" class="panel-heading">
                        <p>POST HOLDERS SEARCH</p>
                    </div>

                    <div class="panel-body">
                        {% if not post_form %}
                            <form action="" method="post">
                                <div class="col-lg-6">
                                    {% csrf_token %}
                                    {{session_form|bootstrap}}
                                </div>
                                <div class="col-lg-6">
                                    {% csrf_token %}
                                    {{club_form|bootstrap}}
                                </div>

                                <div class="col-lg-12 text-center">
                                    <input type="submit" style="margin-left: 0" value="Submit" class="btn btn-success nomi-filter" />
                                </div>
                            </form>
                        {% else %}
                            <form action="" method="post">
                                <div class="row-fluid">
                                    <div class="col-lg-4">
                                    {% csrf_token %}
                                    {{session_form|bootstrap}}
                                    </div>
                                    <div class="col-lg-4">
                                        {% csrf_token %}
                                        {{club_form|bootstrap}}
                                    </div>

                                    <div class="col-lg-4">
                                        {% csrf_token %}
                                        {{post_form|bootstrap}}
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-lg-12 text-center">
                                        <input type="submit" style="margin-left: 0" value="Submit" class="btn btn-success nomi-filter" />
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>


                <div class="container-fluid">
                    {% for each in query_users %}
                        <div class="row-fluid">

                            <div class="col-lg-6">
                                {% if each.user.userprofile %}
                                    <a style="color: black;" href="{% url 'public_profile' each.user.userprofile.pk %}"><div
                                            class="panel panel-default panel-success">
                                        <div class="panel-body">
                                            <div class="col-lg-3">
                                                <img style="border-radius: 10%" src="{{ each.user.userprofile.image_url }}" alt="Pic here"
                                                width="90px" height="90px">
                                            </div>

                                            <div class="col-lg-9">
                                                <p style="text-decoration: none"><span style="font-weight: bold;">
                                                    Name: </span>{{ each.user.userprofile.name }}</p>
                                                <p style="text-decoration: none"><span style="font-weight: bold;">
                                                    Post: </span>{{ each.post }}</p>
                                                <p style="text-decoration: none"><span style="font-weight: bold;">
                                                    Club: </span>{{ each.post.club }}</p>
                                            </div>
                                        </div>
                                    </div></a>
                                {%else%}
                                 <div style="color: black" class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-lg-3">
                                                <img style="border-radius: 10%" src="{{ each.userprofile.image_url }}" alt="Pic here"
                                                width="100%" height="100%">
                                            </div>

                                            <div class="col-lg-9">
                                                <p><span style="font-weight: bold;">Name: </span>{{ each.user.userprofile.name }}</p>
                                                <p><span style="font-weight: bold;">Post: </span>{{ each.post }}</p>
                                                <p><span style="font-weight: bold;">Club: </span>{{ each.post.club }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                </div>


               <div class="container">
                    <!-- Trigger the modal with a button -->
                    <button type="button" style="width: auto; position: fixed; left: 90%; top: 85vh " class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </button>
                   <a href="{% url 'info:get_csv' session_pk=set.0 club_pk=set.1 post_pk=set.2 %}" style="width: auto; position: fixed; left: 90%; top: 92vh "class="btn btn-danger" style="width: auto">
                       <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                   </a>


                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title" style="text-align: center">Email Addresses</h4>
                            </div>
                            <div class="modal-body">
                              <p>{{get_ids}}</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>




            </div>

            {% endblock %}
        </div>
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>