{% extends 'base2.html' %}
{% load bootstrap %}

{% block title %} Nomination Form {% endblock %}

{% load bootstrap %}


{% block content %}

    <div class="profile-content">
                <h2 class="intro-text text-center">
                    <strong>Add a new Nomination</strong>
                </h2>
                <hr>

                <div style="padding: 0 35px;">
                    <form action="" method="post" style="display: inline">
                        {% csrf_token %}
                        <div>
                            {{form|bootstrap}}
                        </div>
                        <div class="col-md-6">
                        <input class="btn btn-success btn-block" type="submit" value="submit and start adding question in form" />
                        </div>
                    </form>
                </div>

    </div>
{% endblock content %}

