{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Post Form {% endblock %}

{% load bootstrap %}


{% block content %}

    <div class="container box">
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Add a new Post</strong>
                </h2>
            <hr>

                <div style="padding: 0 35px;">
                    <form action="" method="post">
                        {% csrf_token %}
                        <table>
                            {{form|bootstrap}}
                        </table>
                        <input type="submit" value="submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

