{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<div class="container">
    <div class="row box">
        <div class="col-lg-12">
            {% if form.errors  %}
                 <p>Please try again.Username or Password didn't match</p>
            {% endif %}

            {% if user.is_authenticated %}
            <h1 class="text-center ">Welcome to The Portal</h1>

            <p class="text-center"><a href="{% url 'index' %}">Go to your profile</a></p>

            {% else %}
             <form method="post" action="{% url 'login' %}">
                {% csrf_token  %}
                 <div class="row ">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6 box">
                        {{form|bootstrap}}
                        <div>
                            <input type="submit" value="login" />
                            <input type="hidden" name="next" value="{{next}}">
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                 </div>

             </form>
            {% endif %}


        </div>
    </div>
</div>

{% endblock %}
