{% extends "index.html" %}

{% block content %}
<div class="container box">
    <div class="row">
        <div class="col-lg-12">
            {% if validlink %}
            <p>Enter your new password</p>
            <form action="" method="post">
                <div style="hidden" value="{{csrf_token }}" name="csrfmiddlewaretoken"></div>
                <table>
                    <tr>
                        <td>
                            {{form.new_password1.errors}}
                            <level for="id_new_password1">New password</level>
                        </td>
                        <td>
                            {{form.new_password1}}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            {{form.new_passwor2.errors}}
                            <level for="id_new_password1">New password</level>
                        </td>
                        <td>
                            {{form.new_password2}}
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Change my password" />
                        </td>
                    </tr>
                </table>
            </form>
            {% else %}
            <p>password reset failed</p>
            {% endif %}



        </div>
    </div>
</div>

{% endblock %}
