#brand{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    margin-right: 30px;
}

#navbar-links{
    font-size: large;
}

#navbar{
    position: fixed;
    width: 100%;
    z-index: 100;
}

body {
    background: #ffffff;
}

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #45faff;
    position: fixed;
    width: 300px;
    margin-top: 50px;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu table thead tr th {
    text-align: center;
}

.profile-usermenu table tbody tr td {
    text-align: center;
}

#topic {
    font-weight: bolder;
}

/* Profile Content */
.profile-content {
    z-index: 0;
    margin-top: 32px;
    padding: 20px;
    background: #ffffff;
    min-height: 460px;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 20px;
}

.jumbotron-description {
    background-color: white;
    padding: 20px 20px 30px 20px;
    text-align: justify;
}

.well-lg {
    padding-top: 2px;
}

.well-lg h1 {
    padding-bottom: 15px;
}

.btn {
    width: 150px;
}

.read-more-button {
    margin-top: 10px;
    width: 100px;
}

#apply-button {
    margin-left: 16%;
}

#go-back-button {
    margin-left: 30%;
}

/* Nomination Panel */

.panel-body p span{
    margin-bottom: 20px;
}

.panel-success {
    transition: box-shadow 0.2s;
}

.panel-success:hover {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
}

.label {
    margin-right: 3px;
}

/* Right Column */
.right-column {
    width: 300px;
    margin-left: 1000px;
    position: fixed;
    margin-top: 33px;
    background-color: white;
}

.right-profile-userpic {
    margin-top: 20px;
}

/* Post Profile View */

.jumbotron-post {
    background-color: #e3f7bb;
    margin-bottom: 10px;
}

#create-post {
    padding-top: 12px;
    padding-bottom: 2px;
    background-color: #36eaf7;
    text-align: center;
    font-size: large;
    border-radius: 7px;
}