{% extends 'base2.html' %}

{% block title %} Applicants {% endblock %}


{% block content  %}
<div class="profile-content">
    
    <table class="table">

        <tbody>
        {% for nomi in applicants  %}
        <tr>
        <th scope="row">{{ nomi.user }}</th>
        {% if nomi.status %}
        <td><a href="#">{{ nomi.status }}</a></td>
        {% endif %}
        <td><a href="{% url 'nomi_answer' nomi.pk %}">View Application</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
