{% extends 'base2.html' %}
{% load bootstrap %}
{% load staticfiles %}


{% block title %} Applicants {% endblock %}


{% block content  %}
<div class="profile-content">


    <!--  -------------------------------------------------------------------------------------------------   -->
    {% if status.0 %}
    <h3 class="text-center">Nomination has not been released.</h3>
    {% endif %}
    <!-- --------------------------------------------------------------------------------------------------------  -->
    {% if status.1 %}
        <div class="well well-sm" style="padding-bottom: 20px">
            <h2 class="text-center" style="color: #343e2e;">{{nomination.name}} </h2>
        </div>
        <div class="text-center">
            Application period
        </div>

        <hr>
        <div class="row">
            <div class="col-lg-6 text-center">
                <h4><span style=" font-size: 20px;color: #1b3013">Post:</span> {{ nomination.nomi_post }}</h4>
            </div>
            <div class="col-lg-6 text-center">
                <h4><span style=" font-size: 20px;color: #1b3013">Club:</span> {{ nomination.nomi_post.club }}</h4>
            </div>
        </div>
        <hr>


     <ul class="nav nav-tabs">
         <li class="active"><a href="#all" data-toggle="tab" aria-expanded="true">All Applications</a></li>

     </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in profile-nominations" id="all">
            <br>
            {% for nomi in applicants  %}
            <div class="panel panel-info">
                <div class="panel-body">
                    <p class="profile-post-name"><span>Applicant : <span style="color: #091837">{{nomi.user.userprofile.name}}</span></span></p>
                    <div class="row">
                        <div class="col-lg-3">
                            <p><span style="font-weight: bold">Result Status :</span> {{ nomi.status }}</p>
                        </div>
                        <div class="col-lg-5">
                            <p><span style="font-weight: bold">Interview status :</span> {{nomi.interview_status}}</p>
                        </div>
                        <div class="col-lg-4">
                            <a href="{% url 'nomi_answer' nomi.pk %}">
                                <div class="btn btn-info">View Application</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endif %}

    <!-- --------------------------------------------------------------------------------------------------------   -->
    {% if status.2 or status.4 or status.5 %}

        <div class="well well-sm" style="padding-bottom: 20px">
            <h2 class="text-center" style="color: #343e2e;">{{nomination.name}} </h2>
        {% if pending %}
            <h3 class="text-center">Interview Period</h3>
        {% endif %}
        {% if  not pending %}
            <h3 class="text-center">Result Compiled</h3>
        {% endif %}

        </div>


        <hr>
        <div class="row">
            <div class="col-lg-6 text-center">
                <h4><span style=" font-size: 20px;color: #1b3013">Post:</span> {{ nomination.nomi_post }}</h4>
            </div>
            <div class="col-lg-6 text-center">
                <h4><span style=" font-size: 20px;color: #1b3013">Club:</span> {{ nomination.nomi_post.club }}</h4>
            </div>
        </div>
        <hr>


    <ul class="nav nav-tabs">
        <li class="active"><a href="#all" data-toggle="tab" aria-expanded="true">All Applicants</a></li>
        <li><a  href="#accepted" data-toggle="tab" aria-expanded="false">Accepted</a></li>
        <li><a href="#rejected" data-toggle="tab" aria-expanded="false">Rejected</a></li>

        {% if pending %}
            <li><a href="#pending" data-toggle="tab" aria-expanded="false">Pending</a></li>
        {% endif %}

     </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in profile-nominations" id="all">
            <br>
            {% for nomi in applicants  %}
            <div class="panel panel-info">
                <div class="panel-body">
                    <p class="profile-post-name"><span>Applicant : <span style="color: #091837">{{nomi.user.userprofile.name}}</span></span></p>
                    <div class="row">
                        <div class="col-lg-3">
                            <p><span style="font-weight: bold">Result Status :</span> {{ nomi.status }}</p>
                        </div>
                        <div class="col-lg-5">
                            <p><span style="font-weight: bold">Interview status :</span> {{nomi.interview_status}}</p>
                        </div>
                        <div class="col-lg-4">
                            <a href="{% url 'nomi_answer' nomi.pk %}">
                                <div class="btn btn-info">View Application</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="tab-pane fade  profile-nominations" id="accepted">
                <br>
            {% for nomi in accepted  %}
            <div class="panel panel-info">
                <div class="panel-body">
                    <p class="profile-post-name"><span>Applicant : <span style="color: #091837">{{nomi.user.userprofile.name}}</span></span></p>
                    <div class="row">
                        <div class="col-lg-3">
                            <p><span style="font-weight: bold">Result Status :</span> {{ nomi.status }}</p>
                        </div>
                        <div class="col-lg-5">
                            <p><span style="font-weight: bold">Interview status :</span> {{nomi.interview_status}}</p>
                        </div>
                        <div class="col-lg-4">
                            <a href="{% url 'nomi_answer' nomi.pk %}">
                                <div class="btn btn-info">View Application</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="tab-pane fade profile-nominations" id="rejected">
                <br>
            {% for nomi in rejected  %}
            <div class="panel panel-info">
                <div class="panel-body">
                    <p class="profile-post-name"><span>Applicant : <span style="color: #091837">{{nomi.user.userprofile.name}}</span></span></p>
                    <div class="row">
                        <div class="col-lg-3">
                            <p><span style="font-weight: bold">Result Status :</span> {{ nomi.status }}</p>
                        </div>
                        <div class="col-lg-5">
                            <p><span style="font-weight: bold">Interview status :</span> {{nomi.interview_status}}</p>
                        </div>
                        <div class="col-lg-4"">
                            <a href="{% url 'nomi_answer' nomi.pk %}">
                                <div class="btn btn-info">View Application</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% if pending %}
            <div class="tab-pane fade profile-nominations" id="pending">
                    <br>
                {% for nomi in pending  %}
            <div class="panel panel-info">
                <div class="panel-body">
                    <p class="profile-post-name"><span>Applicant : <span style="color: #091837">{{nomi.user.userprofile.name}}</span></span></p>
                    <div class="row">
                        <div class="col-lg-3">
                            <p><span style="font-weight: bold">Result Status :</span> Pending</p>
                        </div>
                        <div class="col-lg-5">
                            <p><span style="font-weight: bold">Interview status :</span> {{nomi.interview_status}}</p>
                        </div>
                        <div class="col-lg-4">
                            <a href="{% url 'nomi_answer' nomi.pk %}">
                                <div class="btn btn-info">View Application</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        {% endif %}

    </div>
    {% endif %}

    <!--  -------------------------------------------------------------------------------------------------------  -->
     {% if status.3 %}

        <div class="well well-sm" style="padding-bottom: 20px">
            <h2 class="text-center" style="color: #343e2e;">{{nomination.name}} </h2>
        </div>
    <h3 class="text-center">Result has been sent for Ratification.</h3>


    {% endif %}

    <!-- -----------------------------------------------------------------------------------------------------    -->
    {% if status.6 %}
        <div class="well well-sm" style="padding-bottom: 20px">
            <h2 class="text-center" style="color: #343e2e;">{{nomination.name}} </h2>
        </div>
    <h3 class="text-center">This Nomination Process has been closed and Selected users have been assigned the Post.</h3>

    {% endif %}

     <div class="container">
                    <!-- Trigger the modal with a button -->
                    <button type="button" style="width: auto; position: fixed; left: 90%; top: 85vh " class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </button>
                    <a href="{% url 'accepted_csv' nomination.pk %}" style="width: auto; position: fixed; left: 90%; top: 92vh "class="btn btn-danger" style="width: auto">
                       <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                   </a>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#allmail" data-toggle="tab" aria-expanded="true">All</a></li>
                                        <li><a  href="#accept" data-toggle="tab" aria-expanded="false">Accepted</a></li>
                                        <li><a href="#reject" data-toggle="tab" aria-expanded="false">Rejected</a></li>

                                        {% if pending %}
                                            <li><a href="#pend" data-toggle="tab" aria-expanded="false">Pending</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="modal-body">
                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane fade active in profile-nominations" id="allmail">
                                            <p>{{mail_ids.0}}</p>
                                        </div>
                                        <div class="tab-pane fade  profile-nominations" id="accept">
                                            <p>{{mail_ids.1}}</p>
                                        </div>
                                        <div class="tab-pane fade  profile-nominations" id="reject">
                                            <p>{{mail_ids.2}}</p>
                                        </div>
                                        {% if pending %}
                                        <div class="tab-pane fade  profile-nominations" id="pend">
                                            <p>{{mail_ids.3}}</p>
                                        </div>
                                        {% endif %}
                                    </div>

                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                    </div>
     </div>




</div>

{% endblock %}
