<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} Gymkhana Nominations {% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'nomi/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'nomi/css/business-casual.css' %}" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .bk{
            color:lightblue;

        }
        .tk{
            color:#a7b2ba;

        }
        .bk1{

            color:darkgray
        }
        #mainNav{
             background-color:light;
        }
        .main{
              margin-top:80px;
         }
         .lc
         {
             text-transform:lowercase;
             padding: 0 1em;
         }
         .lc:first-letter
         {
             text-transform:capitalise;
         }
        {% block css %}

        {% endblock %}


    </style>

</head>

<body>
 <!-- Navigation -->

 {% block navigation %}
    <nav id="mainNav" class="navbar navbar-inverse navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#">Gymkhana Nominations</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                 <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'index' %}">Home</a></li>

                    {% if user.is_authenticated %}

                     <li><a href="{% url 'club_list' %}">View Clubs</a></li>
                     <li><a href="{% url 'profile' %}" >{{user.get_username}}</a></li>
                     <li><a href="{% url 'logout' %}?next={% url 'index' %}">Logout</a></li>

                    {% else %}
                        <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
                     {% endif %}
                 </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


 {% endblock %}

 {% block heading %}

    <div class="brand main">Gymkhana Nomination Portal</div>
    <div class="address-bar">A PORTAL FOR IITK JUNTA DEVELOPED BY ACE-CODERS</div>
    <br>
    <hr>

 {% endblock %}



    {% block content %}

    {% endblock %}
    <hr>



        <!-- Team Section -->



    <!--footer-->

    <div class="col-lg-12 text-center " style="background:white;height:40px">
        <p class="text-muted">Copyright &copy; TheDjangoBoys</p>
    </div>


    <!-- jQuery -->
    <script src="{% static 'nomi/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'nomi/js/bootstrap.min.js' %}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

