{% extends 'base2.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% load temp_tags %}


{% block title %}Child_post{% endblock %}

{% block content %}
    <div class="profile-content">
        <!-- heading ---------------------------------------------------------   --->
        <div class="container-fluid child-post-container">

            <div class="row box">
                <div>
                    <h2>{{ post.post_name }}</h2>
                </div>

                <div class="col-lg-12 col-sm-12">
                    <h3> {{post.club.club_name}}</h3>
                </div>
            </div>
            <br>

        </div>



        <div class="container-fluid">
            {% if post.status == 'Post created' %}
                <div>
                    <h3 style="text-align: center">The Post has not been Approved Yet</h3>
                </div>
            {% else %}

            <div class="col-lg-6 nomination-list" style="min-height: 50vh">
                <h2>Nominations for the post</h2>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="{% url 'nomi_create' post.pk %}"
                           class="btn btn-primary nomi-button">Create a New Nomination</a>
                    </div>
                </div>
                <br>
                <div style="height: 30vh; overflow-y: scroll">
                    {% for nomination in nominations %}
                        {% if not nomination.status == 'Work done' %}
                            <div class="well well-sm" style="max-width: 95%">
                                <div>
                                    <a href="{% url 'nomi_detail' nomi_pk=nomination.pk %}"
                                       style="text-decoration: none; color: #1b3013">{{nomination.name}}</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

            <div class="col-lg-6 nomination-list">
                <div class="post-holder-list">
                    <h2>List of post holders</h2>
                </div>
                <div style="height: 40vh; overflow-y: scroll">
                    <ol>
                        {% for post_holder in post.post_holders.all %}
                        <li>
                            {{post_holder.userprofile.name}} --->
                            {% if post_holder|check_deratificaton:post %}
                              Deratification Requested
                            {% else %}
                            <span style="text-align: right">
                                    <a href="{% url 'request_deratify' post_pk=post.pk user_pk=post_holder.pk %}"
                                       style="text-align: right"
                                    data-toggle="tooltip" data-placement="top" title="Remove from Post">
                                        <i class="fa fa-trash" aria-hidden="true"></i></a>
                            </span>
                            <span style="text-align: right">
                                    <a href="{% url 'request_deratify' post_pk=post.pk user_pk=post_holder.pk %}"
                                       style="text-align: right"
                                    data-toggle="tooltip" data-placement="top" title="End tenure">
                                        <i class="fa fa-reply" aria-hidden="true"></i></a>
                            </span>

                            {% endif %}

                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            {% endif %}
        </div>
    </div>


{% endblock %}

