{% extends 'base.html' %}

{% block title %}Child_post{% endblock %}

    {% block content  %}
        <div class="container box">
            <div class="col-lg-8 text-center box">
                <br>
                <br>
            <h3>{{post.post_name}}</h3>
                <p>{{post.status}}

                </p>
                <h4>Parent Post : {{post.parent.post_name}}</h4>
                <h4>Club : {{post.club.club_name}}</h4>
                <hr>
                <p>

                    {% if post.post_holders.all %}
                        Assigned:
                        {% for post_holder in post.post_holders.all %}
                            {{post_holder.userprofile.name}},
                        {% endfor %}
                    {% else %}
                        No one assigned
                    {% endif %}

                </p>
                <div>

                    {% if nominations %}
                        {% for nomination in nominations %}
                            <div>
                                <ul class="List-group">
                                    <li class="List-group-item">
                                        <div class="">
                                         <a class="list-group-item" href="{% url 'forms:creator_form' nomination.nomi_form.pk %}">{{nomination.name}}</a>
                                            <a href="{% url 'applicants' nomination.pk %}" class="btn btn-info" role="button"  >All applicants</a>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        {% endfor %}
                    {% else %}
                        NO nominations
                    {% endif %}

                </div>


            </div>

            <div class="col-lg-4 text-center">
                  <div class="row">
                     <div class="team-member text-center">
                        <p class="text-muted">Actions</p>
                     </div>
                  </div>

                  <div>
                     <ul class="list-group">
                         {% if ap %}
                         <li class="list-group-item">
                             {% if power_to_approve %}

                                        <a class="list-group-item" href="{% url 'final_post_approval' post_pk=post.pk view_pk=view_pk %}">Approve the post</a>
                             {% else %}
                                    {% if approval %}
                                         <a class="list-group-item">Approval request sent to parent</a>
                                    {% else%}
                                        <a class="list-group-item" href="{% url 'post_approval' post_pk=post.pk view_pk=view_pk %}">send to parent for approval</a>
                                    {% endif %}
                             {% endif %}
                         </li>
                          {% endif %}
                         <li class="list-group-item" ><a class="list-group-item">All nominations</a></li>
                         <li class="list-group-item"><a class="list-group-item" href="{% url 'nomi_create' post.pk %}">Add new nominations</a></li>

                     </ul>
                  </div>
            </div>


        </div>

    {% endblock %}

