{% extends 'base.html' %}

{% block title %}Child_post{% endblock %}

    {% block content  %}
        <div class="container box">
            <div class="col-lg-8 text-center box">
                <br>
                <br>
            <h3>{{club.post_name}}</h3>
                <p>{{post.status}}

                </p>
                <h4>Parent Post : {{post.parent.post_name}}</h4>
                <h4>Club : {{post.club.club_name}}</h4>
                <hr>
                <p>

                    {% if post.post_holders.all %}
                        Assigned:
                        {% for post_holder in post.post_holders.all %}
                            {{post_holder.userprofile.name}},
                        {% endfor %}
                    {% else %}
                        No one assigned
                    {% endif %}

                </p>
                <div>

                    {% if nominations %}
                        {% for nomination in nominations %}
                            <div>
                                <ul class="List-group">
                                    <li class="List-group-item">
                                        <div class="">
                                         <a class="list-group-item" href="{% url 'nomi_detail' view_pk=view_pk post_pk=post.pk nomi_pk=nomination.pk %}">{{nomination.name}}</a>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        {% endfor %}
                    {% else %}
                        NO nominations
                    {% endif %}

                </div>


            </div>




        </div>

    {% endblock %}

