{% extends 'base2.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block title %}Child_post{% endblock %}
{% block content %}
            <div class="profile-content">
                <div class="container-fluid child-post-container">
                    <div class="row box">
                        <div>
                            <h1>{{post.post_name}}</h1>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <h3>{{post.status}}</h3>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <h3> {{post.club.club_name}}</h3>
                        </div>
                    </div>
                    <br>

                </div>
                <div class="container-fluid child-post-container">
                    <div class="col-lg-7 col-sm-6">
                        <h2>Nominations for the post</h2>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <a href="{% url 'nomi_create' post.pk %}" class="btn btn-primary nomi-button">Create a New Nomination</a>
                            </div>
                        </div>
                        <br>

                        {% for nomination in nominations %}
                            <div class="panel panel-default">
                            <div class="panel-body">
                                <a  href="{% url 'nomi_detail' nomi_pk=nomination.pk %}">{{nomination.name}}</a>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-5 col-sm-6">
                        <div class="post-holder-list">
                            <h2>List of post holders</h2>
                            <div class="dropdown show">
                                <button class="btn btn-secondary btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Add New
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li>
                                         <form action="" method="post" style="display: inline">
                                        {% csrf_token %}
                                            {{form|bootstrap}}
                                            <input class="btn btn-success btn-block" type="submit" value="submit" />
                                         </form>
                                    </li>
                                    <li>{% if info %}
                                        <div class="text-center"> <strong>{{info}}</strong></div>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="scroll-area">
                            <ol>
                                {% for post_holder in post.post_holders.all %}
                                <li>{{post_holder.userprofile.name}}</li>
                                {% endfor %}

                            </ol>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}