{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
        <div class="container box "}

                 <div class="row box ">
                    <h3 class="text-center">{{club.club_name}}</h3>
                </div>
        </div>

        <div class="container box"}
                <div class="row box">
                    <h3 class="text-center"><a href="#">Create a new child club</a></h3>
                </div>
        </div>

            {% for club in child_clubs %}

       <div class="container box">
           <div class="row">
               <h3 class="text-center">{{ club.club_name }}</h3>
           </div>
       </div>
        {% endfor %}

{% endblock %}