{% extends 'base2.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}Child_post{% endblock %}

{% block content %}
<div class="profile-content">
    <div class="jumbotron jumbotron-post">
        <div class="jumbotron-title">
            <h1 style="text-align: center">{{post.take_approval.post_name}}</h1>
        </div>
        <div class="jumbotron-club">
            <h3 style="font-size: 35px; text-align: center">{{ post.take_approval.club }}</h3>
        </div>
    </div>
        <!-- heading ---------------------------------------------------------   --->
    <div class="container-fluid">
        {% if post.status == 'Post created' %}
        <div class="col-lg-6 text-center">
            <h3>{{post.post_name}}</h3>
             <p class="profile-post-name"> <span>Parent : </span>{{post.parent}}</p>

        </div>
        <div class="col-lg-6 text-center">
                <div class="text-center">
                    <div>
                        <h2>Edit Post Name</h2>
                    </div>

                    <form action="" method="post" style="display: inline">
                        {% csrf_token %}
                        <p>{{edit_post|bootstrap}}</p>
                        <input class="btn btn-success btn-block" type="submit" value="submit" />
                    </form>
                </div>
        </div>
         {% else %}
            The post has been approved by Senate. Now,its name can be changed.
        {% endif %}

    </div>
</div>
{% endblock %}