{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}

    <div class="container">
    <div class="row">
        <div class="col-lg-7 box">
            <form action="" method="get">
                {{ filter.form|bootstrap }}
                <input type="submit" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class=" col-lg-7  box">
            {% for obj in filter.qs %}
                <p class="text-inverse">{{ obj.name }}</p>
            {% endfor %}
        </div>
    </div>
    </div>

{% endblock %}