{% extends 'base2.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}


<div class="profile-content">
    <div class="jumbotron">
          <span class="label label-success">Group Nomination</span>
        <div class="jumbotron-title">
            <h1 style="text-align: center">{{group_nomi.title}}</h1>

        </div>
        {% if group_nomi.status == 'created' %}
        <a href="" class="btn btn-sm read-more-button btn-info">Add New</a>
        <a href="" class="btn btn-sm read-more-button btn-danger">Open to User</a>
        {% endif %}

    </div>

     <div>
         {% for nomi in group_nomi.nominations.all %}
         <div class="panel panel-success">
             <div class="panel-heading">
                 <h3 class="panel-title">{{ nomi.name.upper }}</h3>
             </div>
             <div class="panel-body">
                 <span style="font-weight: bolder">Preference : </span>
                 <span class="label label-primary">{{nomi.year_choice}}</span>
                 <span class="label label-success">{{nomi.dept_choice}}</span>
                 <p><span style="font-weight: bolder"> Deadline :  </span>{{nomi.closing_date}}</p>
                 <p>{{nomi.brief_desc}} ...</p>
                 <a href="{% url 'nomi_detail' nomi_pk=nomi.pk %}"
                    class="btn btn-sm read-more-button btn-info">Read More</a>
                 {% if group_nomi.status == 'created' %}
                 <a href=""
                    class="btn btn-sm read-more-button btn-danger">Remove</a>
                 {% endif %}
             </div>
         </div>
         {% endfor %}
     </div>
</div>

{% endblock %}
