{% extends 'base2.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}


<div class="profile-content">
    <div class="jumbotron">
        <div class="jumbotron-title">
            <h1 style="text-align: center">{{group_nomi.name}}</h1>
        </div>
    </div>


    {% if admin %}
    {% if group_nomi.status == 'created' %}
    <div class="well" style="margin-top: -1em">

            <div class="container-fluid text-center">
                <div class="row">
                    <div class="col-lg-6"><a href="{% url 'add_to_group' pk=admin.pk gr_pk=group_nomi.pk %}">
                        <div style="width: auto" class="btn read-more-button btn-info"> Add a New Nomination </div>
                        </a>
                    </div>

                    <div class="col-lg-6" style="margin-top: 0.6em">
                        <div class="btn-group">
                             <button class="btn btn-secondary btn-danger dropdown-toggle" type="button"
                                     id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Open to Users
                                 <i class="fa fa-caret-down  fa-lg" aria-hidden="true"></i>
                            </button>

                            <div class="dropdown-menu" role="menu">
                             <form action="" method="post" style="display: inline">
                                 {% csrf_token %}
                                 <p>{{form_confirm|bootstrap}}</p>
                                 <input class="btn btn-success btn-block" type="submit" value="submit" />
                             </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    {% endif %}
    {% endif %}

    <hr>



    <div class="well well-lg">

        <p style="text-align: justify" class="text-center" >
            {% autoescape off %}
            {{group_nomi.description|linebreaks}}
            {% endautoescape %}
        </p>
    </div>



     <div>
         {% for nomi in group_nomi.nominations.all %}

             <div class="panel panel-success">
                <div class="panel-heading" style="background-color: #1e1d46">
                    <h3 class="panel-title" style="font-weight: bolder; font-size: 20px">{{ nomi.name.upper }}</h3>
                    <span style="font-weight: bolder">Preference : </span>
                    <span class="label label-primary">{{nomi.year_choice}}</span>
                    <span class="label label-success">{{nomi.dept_choice}}</span>
                </div>


                <div class="panel-body">
                    <div><span style="font-weight: bold">Release Date: </span> {{nomi.opening_date}}</div>
                    <p><span style="font-weight: bolder"> Deadline :  </span>{{nomi.deadline}}</p>
                    <p>{{nomi.brief_desc}} ...</p>
                    <div class="col-lg-2">
                        <a href="{% url 'nomi_detail' nomi_pk=nomi.pk %}"
                           class="btn btn-sm read-more-button btn-primary">Read More</a>
                    </div>

                    {% if admin %}
                        {% if group_nomi.status == 'created' %}
                            <div class="col-lg-3">
                             <a href="{% url 'remove_from_group' nomi_pk=nomi.pk  gr_pk=group_nomi.pk %}"
                                class="btn btn-sm read-more-button btn-danger">Remove</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

         {% endfor %}
     </div>
</div>
{% endblock %}
