{% extends 'base2.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% load temp_tags %}

{% block content %}
<div class="profile-content ">

    <div>
         <ul class="nav nav-tabs">
             <li class="active"><a href="#user" data-toggle="tab" aria-expanded="true">User Portal</a></li>
             {% if posts %}
              <li><a href="{% url 'admin_portal' %}" aria-expanded="false">Admin Portal</a></li>
             {% endif %}
            <li><a href="#filter" data-toggle="tab" aria-expanded="true">Filter Nominations</a></li>
         </ul>
    </div>

    <div id="myTabContent" class="tab-content">
         <div class="tab-pane fade active in profile-nominations" id="user">
                <br>

                <div>

                <div>
                    <h1 style="text-align: center">RELEASED NOMINATIONS</h1>
                    <hr>
                </div>
                    {% for nomi in result_query %}
                    {% if nomi|to_class_name == 'Nomination' %}

                    <div class="panel panel-success">
                    <div class="panel-heading" style="background-color: #eb5562">
                        <h3 class="panel-title" style="font-weight: bolder; font-size: 20px">{{ nomi.name.upper }}</h3>
                        <span style="font-weight: bolder">Preference : </span>
                        <span class="label label-primary">{{nomi.year_choice}}</span>
                        <span class="label label-success">{{nomi.dept_choice}}</span>
                    </div>


                    <div class="panel-body">
                        <div><span style="font-weight: bold">Release Date: </span> {{nomi.opening_date}}</div>
                        <p><span style="font-weight: bolder"> Deadline :  </span>{{nomi.closing_date}}</p>
                        <p>{{nomi.brief_desc}} ...</p>
                        <a href="{% url 'nomi_detail' nomi_pk=nomi.pk %}"
                           class="btn btn-sm read-more-button btn-danger">Read More</a>
                    </div>
                    </div>


                        {% elif nomi|group_status %}

                        <div class="panel panel-success">
                            <div class="panel-heading" style="background-color: #164552">
                            <h3 class="panel-title" style="font-weight: bolder; font-size: 20px">{{ nomi.name.upper }}</h3>
                            <span>Group of Nominations</span>
                        </div>


                        <div class="panel-body">
                            <p>{{nomi.description}}</p>
                            <a href="{% url 'group_nomi_detail' pk=nomi.pk %}"
                            class="btn btn-sm read-more-button btn-info">See Detail</a>
                        </div>
                        </div>
                        {% endif %}


                    {% endfor %}
                </div>
         </div>

        <div class="tab-pane fade profile-nominations" id="filter">
                <br>
                <div class="panel panel-default">
                  <div class="panel-heading">Filter Nominations</div>
                  <div class="panel-body">
                    <form action="" method="post">
                            {% csrf_token %}

                           {{club_filter|bootstrap}}
                    <div class="col-lg-11 text-center">
                        <input type="submit" value="Submit" class="btn-success btn nomi-filter" />
                    </div>
                    </form>
                  </div>
                </div>

         </div>
    </div>
</div>

{% endblock %}
