{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}
        <div class="container">
            {% if clubs %}
            {% for club in clubs %}

                 <div class="row box">
                    <h3 class="text-center"><a href="{% url 'club_view' club.pk %}" >{{club.club_name}}</a></h3>
                </div>


            {% endfor %}
            {% endif %}

        </div>

<!-- hey let it live for now it actually helps in checking features,may be removed later -->

       <div class="container box">
            {% if posts %}
            {% for post in posts %}

                 <div class="row box">
                    <h3 class="text-center"><a href="{% url 'post_view' post.pk %}" >{{post.post_name}}</a></h3>
                </div>


            {% endfor %}
            {% endif %}

        </div>


        <div class="container">
            {% if not user.is_authenticated %}
                <div class="row box">
                    <h2 class="text-center">Welcome to the portal</h2>
                    <p class="text-center">Please login to continue</p>
                </div>
            {% endif %}

        </div>

        <div class="container">


        {% if user.is_authenticated %}

            {% for nomi in all_nominations %}

            {% if nomi.year_choice == username.year or nomi.year_choice == 'All' or perms.nomi.admin %}
                {% if nomi.hall_choice == username.hall or nomi.hall_choice == 'All' or perms.nomi.admin %}
                    {% if nomi.dept_choice == username.department or nomi.dept_choice == 'All' or perms.nomi.admin %}

                        <div class="row box">
                            <p style="font-size: xx-large">{{ nomi.name.upper }}</p>


                                        <p><a href="{% url 'applicants' nomi.pk %}">View Applicants</a></p>



                            {% if not perms.nomi.admin %}

                                    {% if not nomi.results_declared %}
                                        <p><a href="{% url 'forms:show_form' nomi.nomi_form.pk %}">See Details and Apply</a></p>
                                    {% endif %}

                            {% endif %}

                                <p><a href="{% url 'result' nomi.pk %}">View Results</a></p>

                            {% if perms.nomi.admin %}
                                    {% if not nomi.results_declared %}
                                        <br>


                                        <form action="{% url 'nomi_update' nomi.pk %}" method="get" style="display: inline">
                                            {% csrf_token %}
                                            <button class="btn btn-success" type="submit">Edit</button>
                                        </form>

                                        <form action="{% url 'nomi_delete' nomi.pk %}" method="post" style="display: inline">
                                            {% csrf_token %}
                                            <input type="hidden" name="nomi_id" value="{{ nomi.pk }}" />
                                            <button  class="btn btn-danger" type="submit">Delete</button>
                                        </form>

                                    {% endif %}

                            {% endif %}

                        </div>

                    {% endif %}
                {% endif %}
            {% endif %}

            {% endfor %}

        {% endif %}
        </div>
 
    {% endblock %}
