
{% extends 'base2.html' %}

{% load staticfiles %}
{% load bootstrap %}
{% block title %} Gymkhana Nominations {% endblock %}

{% block content %}


<div class="profile-content">
    <div class="jumbotron jumbotron-post">
        <div class="jumbotron-title">
            <h1 style="text-align: center">{{post.post_name}}</h1>
        </div>
        <div class="jumbotron-club">
            <h3 style="font-size: 35px; text-align: center">{{ post.club }}</h3>
        </div>
    </div>



    <div class="profile-nominations">
        <br>
        <h2 class="intro-text text-center">
                <strong>Select Nominations to be grouped</strong>
         </h2>
        <hr>

        <div style="padding: 0 35px;">
            <form action="" method="post" style="display: inline">
                {% csrf_token %}
                {% csrf_token %}
            <table>
                {% if title_form %}
                {{title_form|bootstrap}}
                {% endif %}
                {{form|bootstrap}}
            </table>
            <div class="col-md-6">
            <input class="btn btn-success btn-block" type="submit" value="submit" />
            </div>
            </form>
        </div>
    </div>






</div>


{% endblock %}