{% extends 'base2.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}


            <div class="profile-content">
                <div class="jumbotron">
                    <div class="jumbotron-title">
                        <h1 style="text-align: center">{{nomi.name}}</h1>
                    </div>
                    <div class="jumbotron-club">
                        <h4 style="font-size: 50px; text-align: center">{{nomi.nomi_post.club}}</h4>
                    </div>
                </div>

                    <div class="well well-lg">
                        <h1 style="text-align: center">Description</h1>
                        <p style="font-size: medium;"><span style="font-weight: bolder;">Nomination Deadline: </span> {{nomi.closing_date}}
                        <span style="text-align: center;padding-left: 270px; font-weight: bolder; font-size: medium">Preference: </span>{{nomi.year_choice}}, {{nomi.dept_choice}}</p>
                        <p style="border-top: 1px solid #000000; height: 1px;"><br></p>
                        <p>{{nomi.description}}</p>
                    </div>

                     <div class="container-fluid">

                         {% if created %}
                        <div class="row">
                            {% if power_to_send %}
                            <div class="col-lg-4 text-center">
                                <a href="{% url 'final_nomi_approval' nomi_pk=nomi.pk %}" class="btn btn-success">Approve And Send To User</a>
                            </div>
                            {% else %}
                            <div class="col-lg-4 text-center">
                                {% if sent_to_parent %}
                                <a class="list-group-item" href="">Approval request sent to parent</a>
                                {% else%}
                                <a class="list-group-item" href="{% url 'nomi_approval' nomi_pk=nomi.pk %}">send to parent for approval</a>
                                {% endif %}
                            </div>
                            {% endif %}
                             <div class="col-lg-4 text-center">
                                <a href="" class="btn btn-warning">Edit Nomination</a>
                            </div>
                            <div class="col-lg-4 text-center">
                                <a href="" class="btn btn-info">Go Back</a>
                            </div>
                        </div>
                         {% endif %}
                         {% if out %}
                         <div class="row">
                            <div class="col-lg-6 text-center">
                                <a href="{% url 'applicants' nomi.pk %}" class="btn btn-success">View Applicants</a>
                            </div>
                            <div class="col-lg-6 text-center">
                                <a href="" class="btn btn-info">Go Back</a>
                            </div>
                        </div>
                         {% endif %}
                     </div>
            </div>



{% endblock %}