{% extends "base2.html" %}
{% block title %}
form view
{% endblock %}

{% load bootstrap %}
{% load staticfiles %}

{% block profile %}
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="{% static 'nomi/img/logo.gif' %}" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        Applicant : {{nomi_user.name}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{nomi_user.programme}} <br> {{nomi_user.department}}
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div>
                 END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <table class="table table-striped table-hover ">

                        <tbody>
                        <tr>
                            <td id="topic">Batch</td>
                            <td>{{nomi_user.year}} </td>
                        </tr>
                        <tr>
                            <td id="topic">Roll No.</td>
                            <td>{{nomi_user.roll_no}} </td>
                        </tr>
                        <tr>
                            <td id="topic">Address</td>
                            <td>{{nomi_user.room_no}} , {{nomi_user.hall}}</td>
                        </tr>
                        <tr>
                            <td id="topic">Contact No.</td>
                            <td>9599881876</td>
                        </tr>
                        <tr>
                            <td id="topic">Email ID</td>
                            <td>{{nomi_user.user}}@iitk.ac.in</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END MENU -->
            </div>
            {% endblock %}


{% block content %}
<div class="profile-content">
    <div class="row">
            <h2 class="intro-text text-center">
                <strong>Answer Form</strong>
            </h2>
            <hr>
            <hr>
             <h2 class="intro-text text-center">
                <strong>{{nomi.nomination.name}}</strong>
            </h2>
            <hr>

            <div style="margin:25px">
                <form  action="" method="post">
                            {% csrf_token %}
                        <p>
                            {{form|bootstrap}}
                        </p>

                    </form>
            </div>
        </div>

    {% if not inst_user %}
    <div class="row">
        <div class="btn btn-sm read-more-button " ><a href="{% url 'accept' nomi.pk %} ">Accept</a></div>
        <div class="btn btn-sm read-more-button "><a href="{% url 'reject' nomi.pk %}">Reject</a></div>
    </div>
    <div style="margin:25px">
                    <form  action="" method="post">
                            {% csrf_token %}
                            {{comment_form|bootstrap}}

                        <input type="submit" value="Submit"/>
                    </form>
    </div>
    {% endif %}
</div>

{% endblock content %}
