{% extends "base2.html" %}
{% block title %}
Nomination status
{% endblock %}

{% load staticfiles %}

{% block content %}
<div class="profile-content" style="margin-top:60px">
            <hr>
            <h2 class="intro-text text-center">
                <strong>{{ info }}</strong>
            </h2>

    <br>
            <a href="{% url 'index' %}">
                <div class="text-center">
                    <div class="btn btn-primary">Back to Dashboard</div>
                </div>
            </a>
        </div>
{% endblock content %}

