{% extends 'base.html' %}

{% block title %}nomination detail{% endblock %}
{% load bootstrap %}
{% load staticfiles %}

{% block heading %}
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}


    {% block content  %}
        <div class="container box">
            <div class="col-lg-12 text-center box">
                <br>
                <br>
                    <h3>{{nomi.name}}</h3>
                        <p>{{nomi.status}}
                            <h4>Post : {{nomi.nomi_post}}</h4>
                            <hr>

                <strong>BATCH : {{nomi.year_choice}}  || Hall : {{nomi.hall_choice}} || DEPT : {{nomi.dept_choice}}</strong>
                        </p>
            </div>
        </div>


        <div class="container box">
            <div class="col-lg-7  box" style="margin:25px">
                  <form>
                      <div class="text-center">{{nomi.name}}</div>
                      <hr>
                        {% csrf_token %}
                        <p>
                            {{form|bootstrap}}
                        </p>

                    </form>


            </div>

            <div class="col-lg-4 text-center">
                  <div class="row">
                     <div class="team-member text-center">
                        <p class="text-muted">Actions</p>
                     </div>
                  </div>

                  <div>
                     <ul class="list-group">
                             {% if ap %}
                         <li class="list-group-item">
                             {% if power_to_send %}

                                        <a class="list-group-item" href="">Approve and send to User</a>
                             {% else %}
                                    {% if approval %}
                                         <a class="list-group-item">Approval request sent to parent</a>
                                    {% else%}
                                        <a class="list-group-item" href="">send to parent for approval</a>
                                    {% endif %}
                             {% endif %}
                         </li>
                          {% endif %}

                         <li class="list-group-item" ><a class="list-group-item">All Applications</a></li>
                         <li class="list-group-item"><a class="list-group-item" href="">Edit the nomination</a></li>
                         

                     </ul>
                  </div>
            </div>


        </div>

    {% endblock %}

