{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
        <div class="container box "}

                 <div class="row box ">
                    <h3 class="text-center">{{post.post_name}}</h3>
                </div>
        </div>

        <div class="container box"}
                <div class="row box">
                    <h3 class="text-center"><a href="{% url 'post_create' post.pk %}">Create a new child post</a></h3>
                </div>
        </div>





       <div class="container">
                {% for post in child_posts %}
               <div class="col-lg-6 box">
                   <h3 class="text-center">Child posts</h3>
                   <hr>
                   <div class="text-center"><strong>{{ post.post_name }}</strong></div>
               </div>
               {% endfor %}

               {% for post in approval_request %}
                <div class="col-lg-6 box">
                    <h3 class="text-center">Approval requests</h3>
                    <hr>
                    <div class="text-center"><strong>{{ post.post_name }}</strong></div>
               </div>
               {% endfor %}

       </div>























































































































































































































    {% endblock %}
