{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
        <div class="container box "}>

                 <div class="row">
                    <h3 class="text-center">{{post.post_name}}</h3>
                </div>
        </div>

        <div class="container box"}>
                <div class="row">
                    <h3 class="text-center"><a href="{% url 'post_create' post.pk %}">Create a new child post</a></h3>
                </div>
        </div>





       <div class="container">

               <div class="col-lg-12 box">
                   <h3 class="text-center">Child posts</h3>
                   <hr>
                    {% for ch_post in child_posts %}
                   <div class="text-center">

                       <h4><a href="{% url 'child_post' pk=ch_post.pk view_pk=post.pk  %}">{{ ch_post.post_name }}</a></h4>
                   </div>
                    {% endfor %}
               </div>



                <div class="col-lg-12 box">
                    <h3 class="text-center">Posts to be approved</h3>
                    <hr>
                    {% for post in post_approval %}
                    <div class="text-center">
                        <h4>{{ post.post_name }}</h4>
                         {{post.status}}
                    </div>
                     {% endfor %}
               </div>
                <div class="col-lg-12 box">
                    <h3 class="text-center">Nomination to be approved</h3>
                    <hr>
                    {% for nomi in nomi_approval %}
                    <div class="text-center">
                        <h4>{{ nomi.name }}</h4>
                    </div>
                     {% endfor %}
                </div>



       </div>

    {% endblock %}
