{% extends 'base.html' %}
{% load staticfiles %}

{% block profile %}User's Profile{% endblock %}


{% block content %}
    <div class="container">

                <div class="row box">
                    <div class="col-md-6 text-center">Name</div>
                    <div class="col-md-6 text-center">{{ user_profile.name }}</div>
                </div>

                <div class="row box">
                    <div class="col-md-6 text-center">Roll No</div>
                    <div class="col-md-6 text-center">{{ user_profile.roll_no }}</div>
                </div>

                <div class="row box">
                    <div class="col-md-6 text-center">Batch</div>
                    <div class="col-md-6 text-center">{{ user_profile.year }}</div>
                </div>

                <div class="row box">
                    <div class="col-md-6 text-center">Department</div>
                    <div class="col-md-6 text-center">{{ user_profile.programme }},  {{ user_profile.department }}</div>
                </div>

                <div class="row box">
                    <div class="col-md-6 text-center">Address</div>
                    <div class="col-md-6 text-center">{{ user_profile.room_no }}, Hall {{ user_profile.hall }}</div>
                </div>

{% endblock %}