{% extends 'base2.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
    <br>
    <br>
    <br>
    {% for nomi in nomi %}

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">{{ nomi.name.upper }}</h3>
            </div>

            <div class="panel-body">

                <span style="font-weight: bolder">Preference : </span>
                <span class="label label-primary">{{nomi.year_choice}}</span>
                <span class="label label-success">{{nomi.dept_choice}}</span>
                <p>{{nomi.brief_desc}} ...</p>
                <a href="{% url 'applicants' pk=nomi.pk %}"
                       class="btn btn-sm read-more-button btn-danger">Read More</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}