{% extends "base2.html" %}
{% block title %}
add ques
{% endblock %}

{% load staticfiles %}
{% load bootstrap %}
{% load temp_tags %}


{% block css %}

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url({% static 'bla.jpg' %}) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

{% endblock %}

{% block profile %}
{% endblock %}


{% block content %}


        <div class="profile-content">
            <div class="well well-sm" style="padding-bottom: 20px;background: rgb(220,220,220);">
            <h2 class="text-center" style="color: #343e2e;">{{nomi.name}} </h2>
            <h3 class="text-center">
                Add new question

            </h3>
            </div>
            <hr>


            <div style="margin:25px">
                    <form action="" method="post">
                            {% csrf_token %}
                        <p>
                            {{form|bootstrap}}
                        </p>
                        <div class="text-center">
                            <input class="btn btn-success" type="submit" value="submit">
                        </div>
                    </form>
            </div>

        </div>

{% endblock content %}

