{% extends "base2.html" %}
{% block title %}
add ques
{% endblock %}

{% load staticfiles %}
{% load bootstrap %}


{% block css %}

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url({% static 'bla.jpg' %}) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

{% endblock %}

{% block navigation %}
{% endblock %}
{% block profile %}
{% endblock %}


<div class="brand"><h4>Add question in "{{ questionnaire.name }}" form</h4></div>


{% block content %}


        <div class="profile-content">
            <div class="brand"><h2 class="text-center">Add question in "{{ questionnaire.name }}" </h2></div>

            <div style="margin:25px">
                    <form action="" method="post">
                            {% csrf_token %}
                        <p>
                            {{form|bootstrap}}
                        </p>
                        <div class="text-center">
                            <input class="btn btn-success" type="submit" value="submit">
                        </div>
                    </form>
            </div>

        </div>

{% endblock content %}

