{% extends "base2.html" %}
{% block title %}
Nomination Form
{% endblock %}

{% load bootstrap %}
{% load staticfiles %}

{% block content %}
    <div class="profile-content">
                <div class="jumbotron jumbotron-post">
                    <div class="jumbotron-title">
                        <h1 style="text-align: center">{{ questionnaire.name }}</h1>
                    </div>
                    <div class="jumbotron-club">
                        <h3 style="font-size: 35px; text-align: center"></h3>
                    </div>
                </div>



                <ul class="nav nav-tabs">
                    <li class="active"><a href="#edit-questions" data-toggle="tab">Edit Form Questions</a></li>
                    <li><a href="#preview" data-toggle="tab">Preview Nomination Form</a></li>
                    <li><a href="#descript" data-toggle="tab">Edit Description</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="edit-questions">
                        <br>

                        <div class="col-lg-6">
                            <div>
                                <h4 style="color: #1b3013;"> Click on a Question to Edit</h4>
                            </div>
                        </div>

                         <div class="col-lg-6 text-right">
                            <a href="{% url 'forms:add_ques' pk %}">
                                <div class="col-lg-6 btn btn-danger">Add New Question</div>
                            </a>
                         </div>

                        <hr>
                    <br>
                        {% for question in questions %}
                        <a href="{% url 'forms:ques_update' pk=question.pk qk=pk %}">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div>
                                        <p style="font-size: large">{{question.question}}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>

                    <div class="tab-pane fade" id="preview">

                        <div class="form-group">
                            <div class="col-lg-10 box" style="margin:25px">
                                <form>
                                    {% csrf_token %}
                                    <p>{{form|bootstrap}}</p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="descript">

                        <div class="form-group">
                            <div class="col-lg-10 box" style="margin:25px">
                                <form action="" method="post">
                                {% csrf_token %}
                                    <p>
                                        {{d_form|bootstrap}}
                                    </p>
                                    <input type="submit" value="submit">
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
{% endblock %}