{% extends "base2.html" %}
{% block title %}
Edit nomination
{% endblock %}

{% load bootstrap %}
{% load staticfiles %}
{% load temp_tags %}




{% block content %}
    <div class="profile-content">
        <div class="well well-sm" style="padding-bottom: 20px;background: rgb(143, 186, 178);">
            <h2 class="text-center" style="color: #343e2e;">{{nomi.name}} </h2>
            <h3 class="text-center">
                {{nomi.status}}

            </h3>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6 text-center">
                <h4><span style=" font-size: 20px;color: #1b3013">Post:</span> {{ nomi.nomi_post }}</h4>
            </div>
            <div class="col-lg-6 text-center">
                <h4><span style=" font-size: 20px;color: #1b3013">Club:</span> {{ nomi.nomi_post.club }} ( {{ nomi.nomi_session|give_session }} )</h4>
            </div>
        </div>
        <hr>
        <br>


                <ul class="nav nav-tabs">
                    <li class="active"><a href="#edit-questions" data-toggle="tab">Edit Form Questions</a></li>
                    <li><a href="#preview" data-toggle="tab">Preview Nomination Form</a></li>
                    <li><a href="#descript" data-toggle="tab">Edit Description</a></li>
                    <li><a class="=btn btn-success" href = "{% url 'nomi_detail' nomi.pk %}">See Detail</a> </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="edit-questions">
                        <br>

                        <div class="col-lg-6">
                            <div>
                                <h4 style="color: #1b3013;"> Click on a Question to Edit</h4>
                            </div>
                        </div>

                         <div class="col-lg-6 text-right">
                            <a href="{% url 'forms:add_ques' pk %}">
                                <div class="col-lg-6 btn btn-danger">Add New Question</div>
                            </a>
                         </div>

                        <hr>
                    <br>
                        {% for question in questions %}
                        <a href="{% url 'forms:ques_update' pk=question.pk qk=pk %}">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div>
                                        <p style="font-size: large">{{question.question}}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>

                    <div class="tab-pane fade" id="preview">

                        <div class="form-group">
                            <div class="col-lg-10 box" style="margin:25px">
                                <form>
                                    {% csrf_token %}
                                    <p>{{form|bootstrap}}</p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="descript">

                        <div class="form-group">
                            <div class="col-lg-10 box" style="margin:25px">
                                <form action="" method="post">
                                {% csrf_token %}
                                    <p>
                                        {{d_form|bootstrap}}
                                    </p>
                                    <div class="text-center">
                                        <input type="submit" class="btn btn-success" value="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
{% endblock %}